#root {
  max-width: 100%;
}
*:focus {
  outline: none !important;
}

.App1 {
  text-align: center;
}

.App-header {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content1 {
  z-index: 1;
}

/* Additional styling for better appearance */
.display-4 {
  font-size: 3.5rem;
  font-weight: bold;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
/* home end */

nav {
  position: fixed;
  z-index: 99;
  width: 100%;
}
nav .wrapper {
  max-width: 100%;
  padding: 0px 35px;
  height: 55px;
  line-height: 80px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.wrapper .logo a {
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 6px;
}
/* .wrapper {
  content: "";
  position: relative;
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  z-index: 10000;
} */
.nav-links li {
  list-style: none;
  color: white;
}
.nav-links li a {
  margin: 3px;
  padding: 6px;
  /* color: #497bb4; */
  /* text-shadow: #111010; */
  color: rgb(105, 132, 255);

  text-decoration: none;
  font-size: 15px;
  font-weight: 500;

  border-radius: 2px;
  transition: all 0.3s ease;
}
.LinkNav a {
  /* position: relative;
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.09);
  margin-top: 10px;
  z-index: 10000; */
}
.nav-links li a:hover {
  color: #0088ff;
  text-decoration: underline;
}
.nav-links .mobile-item {
  display: none;
}
.nav-links .drop-menu {
  position: absolute;
  background: white;
  color: black;
  border-radius: 7px;
  width: 200px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  padding: 10px;
}
.drop-menu li a {
  color: black;
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.wrapper {
}

.wrapper .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.logo1 {
  width: 120px;
  height: auto;
}

@media screen and (max-width: 970px) {
  .wrapper .btn {
    display: block;
  }
  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: white;
    color: black;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }
}
nav input {
  display: none;
}

.hero1 {
  width: 100%;
  position: absolute;
  right: 0;
  top: 0px;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
}

@media screen and (max-width: 765px) {
  .image-adv {
    width: 100%;
    height: auto;
  }
}
.hero_text {
  position: absolute;
  top: 60%;
  left: 10%;
  color: white;
}
.icons {
  text-align: center;
  justify-content: center;
}

.centered-div {
  position: fixed;
  top: 30%;
  left: 50%;

  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 180px;
  z-index: 100;
  border-radius: 10px;
}

.centered-div ul {
  list-style-type: circle;
  line-height: 2;
  margin: 5px;
  padding-left: 4px;
}
.forSmall {
}
@media screen and (max-width: 970px) {
  .hero_text {
    font-size: 20px;
    top: 50%;
    left: 2%;
    color: white;
    text-align: left;
    align-self: flex-start;
  }
  .hero_text h1 {
    word-wrap: break-word;
    text-align: left;
    justify-content: start;
  }
  .icons {
    justify-content: start;
  }
  @media (max-width: 992px) {
    .break-line::before {
      content: "\A";
      white-space: pre;
    }
    .text-adv {
      width: 100%;
      text-align: center;
      justify-content: center;
    }
  }

  .forSmall {
    display: block;
  }
  .hero_icons {
    font-size: 24px;
    text-align: left;
    justify-content: start;
  }
}
.box-color {
  background-color: #928e8e;
}
.text-adv {
  margin-right: 15%;
}

.image-adv {
  padding: 0%;
  height: 100%;
  border-radius: 5px !important;
}
.text-adv {
  padding: 2%;
}
.footer-a {
  background-color: #e4e1e1;

  bottom: 0;
}
.footerLinks {
  color: rgb(119, 119, 119);
}
.footerLinks:hover {
  color: rgb(83, 82, 82);
}
.logo-a {
  width: 60px;
  height: 40px;
}
.foter-item {
  font-size: 20px;
}
.hoverCard {
  border-radius: 40px;
}

.hoverCard:hover {
  margin-top: 300px;
  cursor: pointer;
  box-shadow: 0px 12px 30px 0px rgba(85, 84, 84, 0.2);
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(-15px);
  border-radius: 40px;
}

/* project css start */
.imageProject img {
  max-height: 500px; /* Set the desired height */
  width: 100%;
}
.slick-prev,
.slick-next {
  color: black;

  /* Set the color to black or any color you prefer */
}
.slick-prev {
  margin-left: 0px;
}

/* Optional: Style the arrow icons (font-size, etc.) */
.slick-prev::before,
.slick-next::before {
  font-size: 20px; /* Adjust the font size as needed */
  color: black; /* Set the color to black or any color you prefer */
}

@media screen and (max-width: 640px) {
  .slick-prev::before {
    font-size: 14px;
    margin-left: 20px;
  }
  .slick-next::before {
    font-size: 14px;
    margin-left: -20px !important;
  }
}

/* project css ends */

/* card  start*/
.cardImage {
  width: 40%;
  height: auto;
  padding-bottom: 7%;
  color: #6c757d;
}
/* card  end*/
/* shwy entop start */
.responsive-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* max-width: 100%; */
  max-width: 90%;
  height: auto;
  height: auto;
  /* opacity: 1; Adjust opacity value as needed */
}

/* Responsive adjustments for small screens */
@media (max-width: 768px) {
  .responsive-image {
    max-width: 80%; /* Adjust the percentage based on your preference */
  }
}
/* shwy entop end */
/* about css started */
.aboutImages img {
  border-radius: 20px;
  width: 87%;
  height: auto;
}
.aboutNews {
  padding-top: 100px;
}
@media screen and (max-width: 992px) {
  .aboutImages img {
    width: 100%;
    height: auto;
  }
}
/* about css ends */

/* Navbar drop down start */
.dropdoenforMobile {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  width: 230px;
  padding-left: 40px;
  padding-top: 5px;
  margin-top: 50px;
}
.dropdown {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.dropdoenforMobile li {
  list-style: none;
  padding-left: 0px;
}
@media screen and (max-width: 768px) {
  .textforItem {
    justify-content: center; /* Horizontal centering */
    align-items: center;
    padding-top: 28px;
    padding-right: 100px;
    word-wrap: unset;
    white-space: nowrap;
  }
  .iconForMobile img {
    width: 50%;
    margin: 0;
    color: #6c757d;
  }
}
.iconForMobile img {
  opacity: 0.6;
}
/* Navbar drop down ends */
